<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Admin -- Dashboard</title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main class="main-wrapper">
      <%- include('../partials/sidebar') %>

      <section class="main-section">
        <div id="pages">
          <%- include('../admin/overview') %>

          <div id="assignment">
            <div class="container">
              <div class="row my-3"><%- include('../admin/assignment'); %></div>
            </div>
          </div>

          <div id="user">
            <div class="container">
              <div class="row my-3"></div><%- include('../admin/users') %></div>
            </div>
          </div>

          <div id="addUser">
            <div class="container">
              <div class="row my-3"></div><%- include('../admin/add-user');  %></div>
            </div>
          </div>

        </div>

      </section>
    </main>

    <!-- Scripts Area -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
