<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/navb.css" />
    <style>
      .vh-100 {
        height: 100vh;
      }
      @media screen and (max-width: 999px) {
        aside {
          display: none;
          visibility: hidden;
        }
        /* section.mobile-menu { */
          /* display: block; */
        /* } */
      }
      .mobile-menu {
        display: none;
        /* position: fixed !important; */
      }
      .nav-c:hover,
      .nav-c:focus,
      .nav-c:hover {
        background: #ffffff26 !important;
        transition: 0.5s ease-in-out;
        color: #ffc107 !important;
      }
    </style>
  </head>
  <body class="bg-light">
    <header><%- include('../partials/header'); %></header>

    <main>
      <section class="row">
        <!-- side bar start here -->
        <%- include('../partials/d-sidebar') %>
        <!-- side bar end here -->

        <!-- dashboard content starts here -->
        <%- include('../partials/d-content') %>
        <!-- dashboard content ends here -->
      </section>

      <div class="position-fixed w-100 d-block py-2 px-2 bg-dark text-light">
        <ul class="navbar-navs">
          <li class="nav-link">Icons</li>
          <li class="nav-link">Icons</li>
          <li class="nav-link">Icons</li>
        </ul>
      </div>

    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
