<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
        <div class="bg-light p-5 rounded">
            <h1 class="text-center">Student Result</h1>
        </div>
        <div class="w-md-75 w-100 m-auto p-4 py-5">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Student Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Files</th>
                <th scope="col">Date</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <% assignments.forEach(function(assignment) { %>
                <tr>
                  <th scope="row"><%= assignment.id %></th>
                  <td><%= assignment.name %></td>
                  <td><%= assignment.subject %></td>
                  <td><%= assignment.files %></td>
                  <td>
                    <%= 
                        new Date(assignment.date).toLocaleDateString() 
                        +" "+ new Date(assignment.date).toLocaleTimeString() 
                    %>
                  </td>
                  <td><%= assignment.score || 0 %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
            
        </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>